<h3>Transactions</h3>

<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_tag url: '/transactions', method: 'get', layout: :inline do |f| %>
      <%= f.select :account_id, account_dropdown, selected: @account_id, hide_label: true %>
      <%= f.month_field :month, hide_label: true, class: 'ml-3', value: @month, required: true %>
      <%= f.submit 'Go!', class: 'ml-3 btn btn-primary' %>
    <% end %>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h3><%= @transaction.account.name %></h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Date</th>
            <th>Kind</th>
            <th>Spec</th>
            <th>Amount</th>
            <th colspan="2">Balance</th>
          </tr>
          </thead>

          <tr>
            <td></td>
            <td colspan="2">Initial Balance</td>
            <td></td>
            <td><%= number_with_delimiter @transaction.account.initial_balance_in(@date) %></td>
            <td></td>
          </tr>

          <tbody>
          <% @transactions.each do |transaction| %>
            <% related = transaction.related_account_id.to_i == @account_id.to_i %>
            <tr class="<%= transaction.positive?(related) ? 'text-success' : 'text-danger' %>">
              <td class="font-weight-light"><%= l transaction.date, format: :short %></td>
              <td><%= octicon icon_for transaction.kind, related %></td>
              <td><%= transaction.spec %></td>
              <td class="font-weight-light ">
                <%= number_with_delimiter transaction.amount %>
              </td>
              <td></td>
              <td>
                <%= link_to edit_transaction_path(transaction) do %>
                  <%= octicon :pencil %>
                <% end %>
                <%= link_to transaction, method: :delete, class: 'ml-2', data: {confirm: 'Are you sure?'} do %>
                  <%= octicon :trashcan %>
                <% end %>
              </td>
            </tr>
          <% end %>

          <tr>
            <td></td>
            <td colspan="2">Final Balance</td>
            <td></td>
            <td><%= number_with_delimiter @transaction.account.final_balance_in(@date) %></td>
            <td></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <% @transaction.kinds_for_account.each do |name| %>
            <%=	 nav_item name, @transaction.kind %>
          <% end %>
        </ul>
      </div>

      <div class="card-body">
        <%= render 'form', transaction: @transaction %>
      </div>
    </div>
  </div>

</div>
