<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Finance', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_class(accounts_path) %>">
        <%= link_to 'Accounts', accounts_path, class: 'nav-link ' %>
      </li>
      <li class="nav-item <%= active_class(transactions_path) %>">
        <%= link_to 'Transactions', transactions_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= active_class(results_index_path) %>">
        <%= link_to 'Results', results_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= active_class(balance_sheets_index_path) %>">
        <%= link_to 'Balance Sheet', balance_sheets_index_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>